<?xml version="1.0"?>
<robot name="wheeled_robot_xu_test" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:arg name="camera_name" default="zed2i"/>
  <xacro:arg name="camera_model" default="zed2i"/>
  <xacro:arg name="use_zed" default="true"/>
  <xacro:arg name="use_laser" default="true"/>
  
  <xacro:arg name="zed_x" default="0.15"/>
  <xacro:arg name="zed_y" default="0.0"/>
  <xacro:arg name="zed_z" default="0.3"/>
  <xacro:arg name="zed_roll" default="0.0"/>
  <xacro:arg name="zed_pitch" default="0.0"/>
  <xacro:arg name="zed_yaw" default="0.0"/>

  <material name="orange"><color rgba="1.0 0.5 0.2 1" /></material>
  <material name="blue"><color rgba="0 0 0.8 1"/></material>

  <link name="base_footprint"/>
  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/robot_sim.stl"/>
      </geometry>
      <material name="orange" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/robot_sim.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="20.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.5" ixy="0.0" ixz="0.0" iyy="0.5" iyz="0.0" izz="0.3"/>
    </inertial>
  </link>

  <xacro:if value="$(arg use_laser)">
    <link name="laser">
      <visual>
        <geometry><cylinder length="0.02" radius="0.04" /></geometry>
        <material name="blue" />
      </visual>
    </link>
    <joint name="laser_joint" type="fixed">
      <parent link="base_link" />
      <child link="laser" />
      <origin xyz="-0.01 0 0.160" rpy="0.0 0.0 0"/>
    </joint>
  </xacro:if>

  <!-- Load ZED Camera Model -->
  <xacro:if value="$(arg use_zed)">
    <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" />
    <xacro:zed_camera 
      name="$(arg camera_name)" 
      model="$(arg camera_model)" 
      parent="base_link">
      <origin 
        xyz="$(arg zed_x) $(arg zed_y) $(arg zed_z)" 
        rpy="$(arg zed_roll) $(arg zed_pitch) $(arg zed_yaw)"
      />
    </xacro:zed_camera>
  </xacro:if>

  <!-- Gazebo Simulation Plugins -->
  <gazebo>
    <!-- Differential Drive Controller (simulate wheels) -->
    <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>50</updateRate>
      <leftJoint>base_to_left_wheel</leftJoint> <!-- Note: These joints need to exist! But base_link is a mesh in this simple model without wheels. -->
      <!-- Since this simple model doesn't have wheel joints, we use a planar move plugin instead -->
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>base_footprint</robotBaseFrame>
    </plugin>
  </gazebo>
  
  <!-- Planar Move Plugin (Simulate movement without physical wheels) -->
  <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>base_footprint</robotBaseFrame>
    </plugin>
  </gazebo>

  <!-- ZED Camera Simulation (Depth Camera) -->
  <!-- Attach to the left camera frame generated by the macro -->
  <gazebo reference="$(arg camera_name)_left_camera_frame">
    <sensor type="depth" name="zed_depth_sensor">
      <always_on>true</always_on>
      <update_rate>20.0</update_rate>
      <camera>
        <horizontal_fov>1.91986</horizontal_fov> <!-- 110 degrees -->
        <image>
          <format>B8G8R8</format>
          <width>1280</width>
          <height>720</height>
        </image>
        <clip>
          <near>0.3</near>
          <far>20.0</far>
        </clip>
      </camera>
      <plugin name="zed_camera_controller" filename="libgazebo_ros_openni_kinect.so">
        <cameraName>$(arg camera_name)</cameraName>
        <alwaysOn>true</alwaysOn>
        <updateRate>20</updateRate>
        <imageTopicName>$(arg camera_name)_node/rgb/image_rect_color</imageTopicName>
        <depthImageTopicName>$(arg camera_name)_node/depth/depth_registered</depthImageTopicName>
        <pointCloudTopicName>$(arg camera_name)_node/point_cloud/cloud_registered</pointCloudTopicName>
        <cameraInfoTopicName>$(arg camera_name)_node/rgb/camera_info</cameraInfoTopicName>
        <depthImageCameraInfoTopicName>$(arg camera_name)_node/depth/camera_info</depthImageCameraInfoTopicName>
        <frameName>$(arg camera_name)_left_camera_optical_frame</frameName>
        <baseline>0.12</baseline>
        <distortion_k1>0.0</distortion_k1>
        <distortion_k2>0.0</distortion_k2>
        <distortion_k3>0.0</distortion_k3>
        <distortion_t1>0.0</distortion_t1>
        <distortion_t2>0.0</distortion_t2>
        <pointCloudCutoff>0.3</pointCloudCutoff>
        <pointCloudCutoffMax>20.0</pointCloudCutoffMax>
      </plugin>
    </sensor>
  </gazebo>

</robot>
